
// shadows
@mixin shadow-xs {
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

@mixin shadow-sm {
  box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.10), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
}

@mixin shadow-md {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.10), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
}

@mixin shadow-lg {
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

@mixin shadow-xl {
  box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
}

@mixin shadow-2xl {
  box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
}

@mixin shadow-3xl {
  box-shadow: 0 32px 64px -12px rgba(16, 24, 40, 0.14);
}

// focus rings
@mixin ring-brand {
  box-shadow: 0 0 0 4px rgba(158, 119, 237, 0.24);
}

@mixin ring-gray {
  box-shadow: 0 0 0 4px rgba(152, 162, 179, 0.14);
}