@use "assets/scss/typography.scss" as *;


.content {
  max-width: var(--paragraph-max-width, 72rem);
}

.heading-sm {
  margin-bottom: 1.6rem;
  color: var(--colors-text-text-primary-900, #F5F5F6);
  @include display-xs(Semibold);
}

.heading-xs {
  margin: 3.2rem 0 1.2rem 0;
  color: var(--colors-text-text-primary-900, #F5F5F6);
  @include text-xl(Semibold);
}

.plain-text {
  margin: 1lh 0;
  color: var(--colors-text-text-tertiary-600, #94969C);
  @include text-md(Regular);
}

.link {
  display: inline;
}

.text-list {
  padding-left: 1.2em;

  &_padding-double {
    padding-left: 1.85em;
  }
}

.image-and-text {
  margin: 4rem 0;

  &__image {
    width: 100%;
    max-height: 84rem;
    border-radius: var(--radius-xl, 1.2rem);
  }

  &__text {
    margin-top: 1.2rem;
    color: var(--colors-text-text-tertiary-600, #94969C);
    @include text-sm(Regular);
  }
}

.quote {
  margin: 4rem 0;
  padding: 0.8rem 0 0.8rem 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  border-left: 2px solid var(--colors-foreground-fg-brand-primary-600, #9E77ED);

  &__text {
    color: var(--colors-text-text-primary-900, #F5F5F6);
    @include text-xl(Medium, italic);
  }
}

.avatar-label {
  width: max-content;
  display: grid;
  grid-template: "image title" 2.4rem
    "image subtext" 2.4rem / auto auto;
  gap: 0 1.2rem;

  &__image {
    grid-area: image;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: var(--radius-full, 50em);
  }

  &__title {
    grid-area: title;
    white-space: nowrap;
    color: var(--colors-text-text-primary-900, #F5F5F6);
    @include text-md(Semibold);
  }

  &__subtext {
    grid-area: subtext;
    white-space: nowrap;
    color: var(--colors-text-text-tertiary-600, #94969C);
    @include text-md(Regular);
  }
}

.content-box {
  margin: 3.2rem 0;
  padding: 2.4rem;
  border-radius: var(--radius-2xl, 1.6rem);
  background: var(--colors-background-bg-secondary, #161B26);
}


.block-first-child {
  margin-top: 0;
}

.block-last-child {
  margin-bottom: 0;
}


@media only screen and (min-width: 768px) {

  .heading-sm {
    margin-bottom: 2rem;
    @include display-sm(Semibold);
  }

  .heading-xs {
    margin: 3.2rem 0 1.6rem 0;
    @include display-sm(Semibold);
  }

  .plain-text {
    @include text-lg(Regular);
  }

  .image-and-text {
    margin: 4.8rem 0;

    &_image {
      max-height: 44rem;
    }

    &__text {
      margin-top: 1.6rem;
    }
  }

  .quote {
    margin: 4.8rem 0;
    padding: 0.8rem 0 0.8rem 2rem;

    &__text {
      @include display-xs(Medium, italic);
    }
  }

  .content-box {
    margin: 4.8rem 0;
    padding: 3.2rem;
  }

}