html {
    font-size: 62.5%;
}

body {
    color: var(--colors-text-text-tertiary-600, #94969C);
    background: var(--colors-background-bg-primary, #0C111D);
    font-family: Inter, sans-serif;
    font-variant: normal;
    scroll-behavior: smooth;
}

img {
    font-style: italic;
}

a {
    color: var(--colors-foreground-fg-brand-primary-600, #9E77ED);
    text-decoration: none;
}

*::selection {
    /*background: transparentize(var(--colors-background-bg-brand-secondary, #7F56D9), 0.24);*/
    background: #7F56D93D;
}

*::-webkit-scrollbar {
    width: 1.6rem;
    background: var(--colors-background-bg-primary, #0C111D);
}

*::-webkit-scrollbar-thumb {
    background: var(--colors-background-bg-quarterary, #333741);
    border: solid 0.4rem var(--colors-background-bg-primary, #0C111D);
    border-radius: 50em;
}

*::-webkit-scrollbar-corner {
    background: var(--colors-background-bg-primary, #0C111D);
}
